<h1>Todos!</h1>
<form id="search">
  <fieldset>
    <legend>New Todo</legend>
    <label>
      Task
    <input type="text" name="task"/>
    </label>
    <button>save</button> 
  </fieldset>
</form>
<ul>
</ul>